/ofty/__pycache__/*.pyc
/.idea
/units/__pycache__
/units/migrations
/shared/__pycache__
/shared/migrations/__pycache__
/account/__pycache__/__init__.cpython-36.pyc
/account/__pycache__/*.pyc
/account/migrations/__pycache__/*.pyc
/user_uploads/user_0/
/user_uploads/user_0/unit_11
/units/service/__pycache__
/message/__pycache__/*.pyc
/message/migrations/__pycache__/*.pyc
/message/migrations
/location/migrations/__pycache__/*.pyc
/location/__pycache__/*.pyc
/service/__pycache__/*.pyc
/service/migrations/__pycache__/*.pyc
