/ofty/__pycache__/*.pyc
/.idea
!/.idea/dictionaries
!/.idea/dictionaries/zalex.xml
/units/__pycache__
/units/migrations
/shared/__pycache__
/shared/migrations/__pycache__
/account/__pycache__/__init__.cpython-36.pyc
/account/__pycache__/*.pyc
/account/migrations/__pycache__/*.pyc
/units/service/__pycache__
/message/__pycache__/*.pyc
/message/migrations/__pycache__/*.pyc
/message/migrations
/location/migrations/__pycache__/*.pyc
/location/__pycache__/*.pyc
/service/__pycache__/*.pyc
/service/migrations/__pycache__/*.pyc
/.coverage
/venv
/orders/__pycache__
/orders/migrations/__pycache__
