{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>account: demo</title>
    <link rel="icon" href="{% static 'img/shared/favicon.ico' %}">
    <style>
        .button{
            background: white;
            cursor: pointer;
        }
        .button:hover{
            text-decoration: underline;
        }
        .selected{
            font-weight: bold;
        }
    </style>
    <script src="{% static 'js/shared/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/shared/vue.js' %}"></script>
    <script>
        function loadConversations() {
            $.ajax({
                url: "/message/get-my-conversations",
                success: (data)=>{$("#output").html(data)},
                error: (data)=>{console.error(data.responseText)}
            })
        }
    </script>
</head>
<body>
    <div>you loggined as {{  user_name }} ({{ user_id }})</div>
    <div class="layout" id="app" style="display: flex; width: 800px; margin: auto;">
        {% csrf_token %}
        <div style="width: 300px; border: 1px solid gray; border-width: 0 1px 0 0">
            <div class="button" onclick="loadConversations()" v-bind:class="{selected: activePanel=='register'}" @click="setActive('register')">
                Зарегистрироваться
            </div>
            <div class="button" v-bind:class="{selected: activePanel=='loginout'}" @click="setActive('loginout')">
                Войти/выйти
            </div>
            <div class="button" v-bind:class="{selected: activePanel=='avatar'}" @click="setActive('avatar')">
                Изменить аватар
            </div>
            <div class="button"
                v-bind:class="{selected: activePanel=='password'}"
                @click="setActive('password')">
                Изменить пароль
            </div>
            <div class="button" v-bind:class="{selected: activePanel=='rent'}" @click="setActive('rent')">
                Условия аренды
            </div>
            <div class="button" v-bind:class="{selected: activePanel=='time'}" @click="setActive('time')">
                Время работы
            </div>
            <div class="button" v-bind:class="{selected: activePanel=='alerts'}" @click="setActive('alerts')">
                Оповещения
            </div>
            <div class="button" v-bind:class="{selected: activePanel=='blacklist'}" @click="setActive('blacklist')">
                Черный список
            </div>
        </div>
        <div id="right-panel" style="width: 500px">
            <div v-if="activePanel=='register'">
                <form action="/account/new_account" @submit="register" autocomplete="off">
                    <div>
                        <label for="login">login</label><input type="text" id="login">
                    </div>
                    <div>
                        <label for="password">password</label><input type="password" id="password">
                    </div>
                    <input type="submit" value="create">
                </form>
            </div>
            <div v-if="activePanel=='loginout'">
                <form action="/account/login" @submit="login" autocomplete="off">
                    <div>
                        <label for="loginout-login">login</label><input type="text" id="loginout-login">
                    </div>
                    <div>
                        <label for="loginout-password">password</label><input type="password" id="loginout-password">
                    </div>
                    <input type="submit" value="Зайти на сайт">
                </form>
                <form action="/account/logout" @submit="logout" autocomplete="off">
                    <input type="submit" value="Покинуть сайт">
                </form>
            </div>
            <div v-if="activePanel=='avatar'">
                <img src="/static/user_{{ user_id }}/avatar-170.png?time={{ time }}" alt="avatar170.png">
                <img src="/static/user_{{ user_id }}/avatar-71.png?time={{ time }}" alt="avatar71.png">
                <form action="/account/change-avatar" @submit="avatarSave" autocomplete="off">
                    <input type="file" name="avatar" id="avatar">
                    <input type="submit" value="save">
                </form>
            </div>
            <div v-if="activePanel=='password'">
                <form action="/account/password-set" autocomplete="off" @submit="passwordSave">
                    <div>
                        <label for="newPasswd">new password:</label><input type="password" name="password-value">
                        <input type="submit" value="change now">
                    </div>
                </form>
            </div>
            <div v-if="activePanel=='rent'">
                <div>
                    <form action="/account/delivery-get">
                        <input type="button" @click="rentGet" value="Узнать текущие условия аренды">
                    </form>
                    <form action="/account/change-rent-conditions" @submit="rentSave" autocomplete="off">
                        <label for="uslovia" style="vertical-align: top">Условия аренды (JSON)</label>
                        <textarea name="delivery_case" id="" cols="30" rows="10">[{"name": "самовывоз", "value": "300"}, {"name": "доставка по москве", "value": "300"}]</textarea>
                        <div>
                            <label for="sklad">Адрес склада</label>
                            <input type="text" id="sklad">
                        </div>
                        <div>
                            <label for="metro">Ближайшее метро</label>
                            <input type="text" id="metro">
                        </div>
                        <div>
                            <label for="comment">Комментарий</label>
                            <input type="text" id="comment">
                        </div>
                        <div><input type="submit" value="save"></div>
                    </form>
                </div>
            </div>
            <div v-if="activePanel=='time'">
                <input type="button" value="Get actual work time from server" @click="timeGet">
                <form action="/account/time-set" @submit="timeSave" autocomplete="off">
                    <div v-for="(x, indx) in 7">
                        <input type="checkbox" :id="[['day-' + x]]"> <label :for="[['day-' + x]]">
                            [[ ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскрсенье'][indx] ]]
                        </label>
                        <label :for="'day-from-'+x"></label><input type="text" :id="'day-from-'+x" value="00:01">
                        <label :for="'day-to-'+x"></label><input type="text" :id="'day-to-'+x" value="23:50">
                    </div>
                    <input type="submit" value="save">
                </form>
            </div>
            <div v-if="activePanel=='alerts'">
                <form action="/account/alerts-set" @submit="alertsSave" autocomplete="off">
                    <div v-for="(item, indx) in ['push', 'sound', 'smsnew', 'smsbeginend', 'mailnew', 'mailbeginend']">
                        <input type="checkbox" :id="[['enable-' + item]]">
                        <label :for="[['enable-' + item]]">
                            [[ ['Показать мгновенные уведомления', 'Включить звуковое оповещение', 'Присылать смс о новом заказе',
                            'Присылать смс об окончании и начале срока аренды', 'Присылать сообщения о новом заказе на эл. почту',
                            'Присылать сообщения об окончании и начале срока аренды на эл. почту'][indx] ]]
                        </label>
                    </div>
                    <input type="submit" value="save">
                </form>
            </div>
            <div id="output">Ответ от сервера: [[ output ]]</div>
        </div>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                activePanel: 'avatar',
                output: 'н/д'
            },
            methods: {
                printout: function(text){
                    $("#output").html("Время ответа: " + (new Date()).toString() + "<br>Ответ: " + text);
                },
                register: function(e){
                    e.preventDefault();
                    let login=$("#login").val(),
                        password=$("#password").val();
                    $.ajax({
                        url: "/account/new-account",
                        method: 'POST',
                        data: {
                            'login': login,
                            'password': password,
                            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                        },
                        success: (data)=>{app.printout(data);},
                        error: (data)=>{app.printout(data.responseText)}
                    })
                },
                setActive: function (what) {
                    this.activePanel = what;
                },
                avatarSave: function (e) {
                    e.preventDefault();

                    //console.log($("input[name=avatar]"));
                    let fls = $("input[name=avatar]")[0].files;
                    if (fls.length === 0) {
                        alert("Выберите аватар");
                    } else {
                        let data = new FormData();
                        data.append("avatar", fls[0]);
                        data.append("csrfmiddlewaretoken", $("input[name=csrfmiddlewaretoken]").val());
                        $.ajax({
                            url: "/account/save-avatar",
                            data: data,
                            method: "POST",
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: (data)=>{ app.printout(data); },
                            error: (data)=>{ app.printout(data.responseText); }
                        })
                    }

                    console.log("nu ok...");
                },
                passwordSave: function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/account/password-set',
                        method: 'POST',
                        data: {
                            'password': $('input[name=password-value]').val(),
                            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                        },
                        success: (data)=>{
                            app.printout(data);
                        },
                        error: (data)=>{
                            app.printout(data.responseText);
                        }
                    })
                },
                rentGet: function() {
                    $.ajax({
                        url: "/account/delivery-get",
                        success: (data)=>{
                            let ans = JSON.stringify(data),
                                forHuman = JSON.stringify(JSON.parse(data.cases))
                            app.printout(ans + "<hr>" + forHuman);
                            },
                        error: (data)=>{app.printout(data.responseText);}
                    })
                },
                rentSave: function (e) {
                    e.preventDefault();

                    let cases = JSON.parse($("textarea[name=delivery_case]").val()),
                        sklad = $("input[id=sklad]").val(),
                        metro = $("input[id=metro]").val(),
                        comment = $("input[id=comment]").val();

                    $.ajax({
                        url: "/account/delivery-set",
                        method: "POST",
                        data: {
                           'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                           'cases': JSON.stringify(cases),
                           'sklad': sklad,
                           'metro': metro,
                           'commentary': comment
                        },
                        success: (data)=>{
                           app.printout(data);
                        },
                        error: (data)=>{
                           app.printout(data.responseText);
                        }
                    });
                },
                timeGet: function () {
                    $.ajax({
                        url: "/account/time-get",
                        success: (data)=>{ app.printout(JSON.stringify(data)); console.log(data);},
                        error: (data)=>{ app.printout(data.responseText)}
                    });
                },
                timeSave: function (e) {
                    e.preventDefault();

                    let days = {
                        "mon": {
                            "time-from": $("input[id=day-from-1]").val(),
                            "time-to": $("input[id=day-to-1]").val(),
                            "enable": $("input[id=day-1]").prop('checked')
                        },
                        "tue": {
                            "time-from": $("input[id=day-from-2]").val(),
                            "time-to": $("input[id=day-to-2]").val(),
                            "enable": $("input[id=day-2]").prop('checked')
                        },
                        "wed": {
                            "time-from": $("input[id=day-from-3]").val(),
                            "time-to": $("input[id=day-to-3]").val(),
                            "enable": $("input[id=day-3]").prop('checked')
                        },
                        "thu": {
                            "time-from": $("input[id=day-from-4]").val(),
                            "time-to": $("input[id=day-to-4]").val(),
                            "enable": $("input[id=day-4]").prop('checked')
                        },
                        "fri": {
                            "time-from": $("input[id=day-from-5]").val(),
                            "time-to": $("input[id=day-to-5]").val(),
                            "enable": $("input[id=day-5]").prop('checked')
                        },
                        "sat": {
                            "time-from": $("input[id=day-from-6]").val(),
                            "time-to": $("input[id=day-to-6]").val(),
                            "enable": $("input[id=day-6]").prop('checked')
                        },
                        "sun": {
                            "time-from": $("input[id=day-from-7]").val(),
                            "time-to": $("input[id=day-to-7]").val(),
                            "enable": $("input[id=day-7]").prop('checked')
                        },
                        "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
                    };
console.log(days);
                    $.ajax({
                        url: '/account/time-set',
                        method: 'POST',
                        data: days,
                        success: (data)=>{
                            app.printout(data);
                        },
                        error: (data)=>{
                            app.printout(data.responseText);
                        }
                    })
                },
                alertsSave: function (e) {
                    e.preventDefault();
                    console.log(1);
                },
                login: function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/account/login",
                        method: 'POST',
                        data: {
                            'user': $("#loginout-login").val(),
                            'password': $("#loginout-password").val(),
                            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                        },
                        success: (data)=>{app.printout(data);},
                        error: (data)=>{app.printout(data.responseText);}
                    })
                },
                logout: function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/account/logout",
                        method: "POST",
                        data: {
                            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                        },
                        success: (data)=>{app.printout(data)},
                        error: (data)=>{app.printout(data.responseText)}
                    })
                }
            },
            delimiters: ['[[', ']]']
        })
    </script>
</body>
</html>