<div style="width: 600px">
    <h1>Ты забыл пароль?</h1>
    <div>
        <img src="http://ofty.ru/static/img/shared/what-owl.png" alt="logo.svg">
    </div>
    <div>
        Используй это код для входа на сайт:
    </div>
    <div>
        <div style="border: 1px solid #000; border-radius: 5px; padding: 20px;
            font-family: Consolas, Monospace, Philosopher, serif;
                font-size: 28px; display: inline-block;">
            {{ verification_code }}
        </div>
    </div>
</div>