{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MSG: demo</title>
    <style>
        .button{
            background: white;
            cursor: pointer;
        }
        .button:hover{
            text-decoration: underline;
        }
        .selected{
            font-weight: bold;
        }
    </style>
    <script src="{% static 'js/shared/jquery-3.4.1.min.js' %}"></script>
    <script>
        function loadConversations() {
            $.ajax({
                url: "/message/get-my-conversations",
                success: (data)=>{$("#output").html(data)},
                error: (data)=>{console.error(data.responseText)}
            })
        }
    </script>
    <link rel="icon" href="{% static 'img/shared/favicon.ico' %}">
</head>
<body>
    {% csrf_token %}
    <div>you loggined as {{ username }} ({{ userid }})</div>
    <div class="layout" id="app" style="display: flex; width: 800px; margin: auto;">
        <div style="width: 300px; border: 1px solid gray; border-width: 0 1px 0 0">
            <div class="button" @click="setMode('my-conversations')"
                 v-bind:class="{ selected : mode == 'my-conversations' }">
                Список бесед
            </div>
            <div class="button" @click="setMode('new-conversation')"
                v-bind:class="{ selected : mode == 'new-conversation' }">
                Новая беседа
            </div>
            <div class="button" @click="setMode('conversation')"
                v-bind:class="{ selected : mode == 'conversation' }">
                Просмотр беседы
            </div>
            <div class="button" @click="setMode('newmessage')"
                v-bind:class="{ selected : mode == 'newmessage' }">
                Новое сообщение
            </div>
            <div class="button" @click="setMode('delete-message')"
                v-bind:class="{ selected : mode == 'delete-message' }">
                Удалить сообщение
            </div>
            <div class="button" @click="setMode('delete-conversation')"
                v-bind:class="{ selected : mode == 'delete-conversation' }">
                Удалить беседу
            </div>
            <div class="button" @click="setMode('remove-member')"
                v-bind:class="{ selected : mode == 'remove-member' }">
                Удалить участника беседы
            </div>
        </div>
        <div class="right-panel" style="width: 500px">
            <div v-if="mode=='conversation'">
                <input type="button" value="get my conversations" @click="myConversations">
            </div>
            <div v-if="mode=='conversation'">
                <label for="new-conversation-name">Название беседы</label>
                <input type="text" id="new-conversation-name" value="conversation">
                <br>
                <label for="new-conversation-members">Участники (JSON массив)</label>
                <input type="text" id="new-conversation-members" value="[]">
                <br>
                <input type="button" value="create new conversation" @click="newConversation">
            </div>
            <div v-if="mode=='conversation'">
                <label for="conversation-id">conversation id</label>
                <input type="text" name="conversation-id" id="conversation-id" value="1">
                <br>
                <label for="conversation-offset">offset (>= 0)</label>
                <input type="text" id="conversation-offset" value="0">
                <br>
                <label for="conversation-size">size (1-50)</label>
                <input type="text" id="conversation-size" value="3">
                <input type="button" value="load conversation" @click="conversationView">
            </div>
            <div v-if="mode=='conversation'">
                <label for="newmessage-id">id беседы</label>
                <input type="text" id="newmessage-id" name="newmessage-id">
                <br>
                <label for="newmessagemessage">текст сообщения</label>
                <input type="text" id="newmessage-message" name="newmessage-message">
                <br>
                <input type="button" value="new message" @click="newMessage">
            </div>
            <div id="output"></div>
        </div>
    </div>
    <script src="{% static 'js/shared/vue.js' %}"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                mode: "",
                delimiters: ["[[", "]]"]
            },
            methods: {
                printout(text){
                    $("#output").html("Время ответа: " + (new Date()).toString() + "<br>Ответ: " + text);
                },
                setMode (newMode) {
                    app.mode = newMode;
                },
                myConversations() {
                    $.ajax({
                        url: "/message/my-conversations",
                        success(data) { app.printout(JSON.stringify(data)); },
                        error(data) { app.printout(data.responseText); }
                    })
                },
                newConversation() {
                    $.ajax({
                        url: "/message/new-conversation",
                        method: "POST",
                        data: {
                            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                            "name": $("input[id=new-conversation-name]").val(),
                            "members": $("input[id=new-conversation-members]").val()
                        },
                        success(data) { app.printout(data); },
                        error(data) { app.printout(data.responseText) }
                    })
                },
                conversationView() {
                    $.ajax({
                        url: "/message/conversation-view",
                        data: {
                            "size": $("input[id=conversation-size]").val(),
                            "offset": $("input[id=conversation-offset]").val(),
                            "id": $("input[id=conversation-id]").val()
                        },
                        success(data) { app.printout(JSON.stringify(data)); },
                        error(data) { app.printout(data.responseText); }
                    })
                },
                newMessage() {
                    $.ajax({
                        url: "/message/new-message",
                        method: "POST",
                        data: {
                            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                            "conversation": $("input[id=newmessage-id]").val(),
                            "message": $("input[id=newmessage-message]").val()
                        },
                        success(data){app.printout(data)},
                        error(data){app.printout(data.responseText)}
                    })
                }
            },
            mounted() {
                if (localStorage.mode) {
                    this.mode = localStorage.mode;
                }
            },
            watch: {
                mode(newValue) {
                    localStorage.mode = newValue;
                }
            }
        })
    </script>
</body>
</html>